<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         colors="true">

    <testsuites>
        <testsuite name="teste-de-unidade">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <testdoxText outputFile="testes-executados.txt"/>
        <testdoxHtml outputFile="testes-executados.html"/>
    </logging>
</phpunit>
